
body{
  margin: 0;
  padding: 0;
}

.h1{
  margin: 0;
}
.navbar,
.rules {
  background-color: red;
  color: white;
  margin-bottom: 3px;
  box-shadow: 03px 6px #999, 0 3px 6px #999;

}
.hero-container{
  display: grid;
}
.hero-card{
  border: 3px solid gray;
  border-radius: 3px;
  box-shadow: 0 3px 6px #999; 
}