*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}
#container{

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: lightgray;
    padding: 5px;
}
 

#sidebar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8,1fr);
    gap: .5rem;
    padding-inline: .5rem;
    
}


  #sidebar .clear{
grid-column: 1/-1;

  }

  #sidebar .clear button {
    border-radius: .25rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .color{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
  #main{
    display: grid;
    grid-template-columns: repeat(60, 1fr);
  }

  #main > *{
    border: 1px solid rgb(119, 110, 110);
    background-color: white;
  }

