.container{
    margin: 300px;
    width: 350px;
    height: 200px;
    margin: 3%;
    margin-top: 0%;
    margin-block-end: 100%;
    margin-bottom: 200%;
    
}


div{
    text-align: center;
    position: relative;
    left: 30%;
    top: 50%;
    margin: auto;

}

body{
    background-image: url("pexels-brady-knoll-3369526.jpg");
    background-color: blue;
}