<%- incding ("index.ejs", {items: []})%> 

<form action=""> 
    <label for="">Category</label>
    <input type="text">
    <label for=""> Title</label>
    <input type="text">
    <input type="submit" value="submit">
</form>